<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <form action="/api/addCourse">
        <h2>Add Course</h2>
        <input name="title" placeholder="Title" type="text">
        <input name="description" placeholder="Description" type="text">
        <input name="fee" placeholder="Fee" type="Number">
        <input name="rating" placeholder="Ratings" type="Number">


        <button>Submit</button>
    </form>


</body>
</html>